:root{
  --primary: #f2f2f2;
  --secondary: #3f3f3f;
  --tertiary: #cfcfcf;
  --form: #ffffff;
  --base: #031ecf;
  --marked: #ff0000;
  --swapped: #00ff00;
  --attention: #f6ff00;
  --submit: #000b4e;
  --skip: #4e0000;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

header, footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: var(--secondary);
  color: var(--primary);
}

.main{
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--tertiary);
  color: var(--secondary);
  padding: 1em;
}

.form-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
  background-color: var(--primary);
  padding: 1em;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: var(--secondary);
}

.minimize{
  display: flex;
  justify-content: flex-end;
}

.minimized{
  display: none;
}

.sortForm{
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}

.input-row{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form__select{
  flex-grow: 1;
  border: none;
  font-size: 1rem;
  color: var(--secondary);
  background-color: var(--form);
  border-radius: 5px;
  padding: 0.5em;
}

.form__input{
  flex-grow: 1;
  border: none;
  font-size: 1rem;
  color: var(--secondary);
  background-color: var(--form);
  border-radius: 5px;
  padding: 0.5em;
}

.checkbox-row{
  display: flex;
  align-items: center;
  gap: 2em;
}

.form-checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.button-row{
  display: flex;
  justify-content: center;
  gap: 1em;
}

.button-row .btn{
  padding: 0.5em 1em;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
}

.button-row .submit-btn{
  background-color: var(--submit);
  color: var(--primary);
}

.button-row .skip-btn{
  background-color: var(--skip);
  color: var(--primary);
}

.button-row .btn:hover,
.button-row .btn:focus{
  opacity: 0.75;
}

.algorithm-description{
  padding: 1em;
  background-color: var(--tertiary);
  border-radius: 25px;
}

.array-container{
  display: flex;
  min-height: 120px;
  background-color: var(--primary);
}